@{
    ViewBag.Title = "Index";
}


<div class="blog-header">
    <h1 class="blog-title"> index</h1>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
