@Html.ActionLink("Hauptseite", "Index", "Blog", new { }, new { @class = "blog-nav-item" })
@if (User.IsInRole("Administrator") || User.IsInRole("Autor"))
{
    <span class="navigation-divider">|</span>
    @Html.ActionLink("Redaktionsbereich", "EditorialDepartment", "Blog", new { }, new { @class = "blog-nav-item" })
}
@if (WebSecurity.IsAuthenticated)
{ <span class="navigation-divider">|</span>
    @Html.ActionLink("Management", "Index", "Management", new { }, new { @class = "blog-nav-item" })
}