@model Weblog.Web.Models.Weblog.DisplayEntriesModel

<div class="row">
    <div id="entry-container">
            @Html.Partial("DisplayEntryPage", Model.EntryPerPageModel)
    </div>
</div>
<div class="row">
    <div id="pagination-container" data-entries-per-page="@Model.EntriesPerSite" data-last-page="@Model.LastPage">
        @if (Model.EntryPerPageModel.Entries.Count > Model.EntriesPerSite)
        {
            <ul class="pagination">
                <li id="pagination-previous" class="pagination-element">
                    <a href="#" onclick="EntryPagination.previousPage()">&laquo;</a>
                </li>

                @for (int i = 0; (i * Model.EntriesPerSite) < Model.EntryPerPageModel.Entries.Count; i++)
                {
                    <li id="pagination-@i" class="pagination-element">
                        <a href="#" onclick="EntryPagination.goToPage(@i)">@(i + 1)</a>
                    </li>
                }

                <li id="pagination-next" class="pagination-element">
                    <a href="#" onclick="EntryPagination.nextPage()">&raquo;</a>
                </li>
            </ul>
        }
    </div>
</div>