@model List<Weblog.Web.Models.Weblog.CommentModel>
@if (Model.Count > 0)
{
    <table>
        <tr>
            <th class="first">ID</th>
            <th>Titel / Header</th>
            <th class="last">Datum</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Text</td>
                <td>@item.DateString</td>
            </tr>
        }
    </table>
}