@model Weblog.Web.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = "Passwort vergessen?";
}

<div class="blog-header">
    <h2>Passwort vergessen?</h2>
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Bitte geben sie ihre Email-Adresse ein.</p>
    <p>Eine Passwort-Vergessen-Mail wird an ihre gespeicherte Adresse geschickt.</p>
    <div class="form">
        @Html.ValidationSummary()
        <div class="row form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-3" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="row">
            <button class="btn btn-primary">Speichern</button>
        </div>
    </div>
}
