@{
    ViewBag.Title = "Passwort geändert";
}

<div class="row">
    <h2>Passwort geändert</h2>
    <p>Sie haben ihr Passwort erfolgreich geändert.</p>
    <p>@Html.ActionLink("Zum Login", "Login","Account")</p>
</div>