@{
    ViewBag.Title = "Index";
}

<h2>Management Index</h2>


<div class="row">
    <div class="col-sm-8 blog-main">
        <p>Die folgenden Links führen auf andere Seiten, auf denen dann die jeweiligen Vorgehensweisen sichtbar sind.</p>
        @Html.ActionLink("Benutzereinstellungen bearbeiten", "ChangeUserSettings", "Management") - nla <br />

    </div>
</div>
